<?xml version="1.0" ?>
<robot name="table">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>

    <!-- Table Top -->
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.375"/>
      <geometry>
        <box size="1.0 1.5 0.05"/>
      </geometry>
       <material name="wood">
        <color rgba="0.6 0.4 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.375"/>
      <geometry>
        <box size="1.0 1.5 0.05"/>
      </geometry>
    </collision>

    <!-- Leg 1 (Front Left) -->
    <visual>
      <origin rpy="0 0 0" xyz="0.45 0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
      <material name="metal">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.45 0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
    </collision>

    <!-- Leg 2 (Front Right) -->
    <visual>
      <origin rpy="0 0 0" xyz="0.45 -0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
      <material name="metal">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.45 -0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
    </collision>

    <!-- Leg 3 (Back Left) -->
    <visual>
      <origin rpy="0 0 0" xyz="-0.45 0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
      <material name="metal">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.45 0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
    </collision>

    <!-- Leg 4 (Back Right) -->
    <visual>
      <origin rpy="0 0 0" xyz="-0.45 -0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
      <material name="metal">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.45 -0.7 0.175"/>
      <geometry>
        <cylinder radius="0.03" length="0.35"/>
      </geometry>
    </collision>

  </link>
</robot>
